body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
  
  button {
    cursor: pointer;
    font-size: 20px;
    border-radius: 20px;
    background: transparent;
    color: white;
    padding: 10px 15px;
    margin: 10px 20px;
    border: 1px solid white;
  
  }
  
  .search-form {
    border: 1px solid white;
    padding: 2rem;
    border-radius: 20px;
    margin: 75px;
  }
  
  .search-form > input,
  .search-form > button {
    font-size: 25px;
  }
  
  .search-form input {
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    background: transparent;
    padding: 5px;
    font-size: 25px;
  }
  
  .film-elem {
    margin: 10px;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 650px;
    width: 325px;
    position: relative;
  }
  
  .film-elem h3 {
    font-size: 25px;
  }
  
  .film-elem .btn-wrapper {
    position: absolute;
    top: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .film-elem span {
    width: 100%;
    font-size: 20px;
    max-width: 300px;
    white-space: break-spaces;
  }
  
  .film-elem > img {
    object-fit: contain;
    width: 300px;
    height: 400px;
  }
  
  section {
    display: flex;
    width: 80%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  header {
    position: sticky;
    top: 0;
    padding: 50px;
    background: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }
  
  header > button {
    font-size: 20px;
  }
  
  #watchList {
    display: none;
  }
  
  .watch-list-film {
    border: 1px solid palevioletred;
  }