@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600&display=swap");
.header .header-link-wrap , a{
  font-size: 40px;
  color: rgba(255, 255, 255, 1) !important;
  font-weight: 700;
  padding: 20px;
}
.header span {
  margin: 20px;
}

* {
  font-family: "Noto Sans", sans-serif;
}

.p-text {
  font-weight: 400;
  font-size: 36px;
  color: rgba(255, 255, 255, 1);
}
.enter-button {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  font-size: 36px;
  font-weight: 700;
  padding-left: 53px;
  padding-right: 53px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.card h3 {
  font-size: 48px;
  font-weight: 500;
}
.card p {
  font-size: 36px;
  font-weight: 400;
}
.card img {
  width: 450px;
  height: 350px;
  box-shadow: 32px 33px 0px 0px rgba(217, 217, 217, 1);
}

.reviews a{
  font-size: 48px;
  color: black;
  font-weight: 500;
  padding: 20px;
  text-decoration: none;
}
.reviews img{
    height: 40px;
}
.reviews{
    align-items: center;
    color: #ccc;
    padding: 10px;
}

.reviewCard img{
    height: 150px;
    width: 150px;
}
.star-section img{
    height: 30px;
    width: 178px;
}
.star-section h3{
    font-size: 36px;
    font-weight: 400;
    margin-top: -10px;
    margin-left: 7px;
    
}
.Pedrowrap{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.reviewCard{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.reviewCard p{
    margin-right: 30px;
}
.card-section-wrap p{
   font-size: 36px;
   font-weight: 400;
   text-align: left;
   margin: 20px;
}

.bookTourSection{
    min-height: 675px;
    min-width: 722px;
    background-color: #D9D9D966;
    border: 5px solid white;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}
.bookTourSection button{
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  font-size: 36px;
  font-weight: 700;
  width: 540px;
  height: 100px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 20px;
}
.footer-section-wrap p{
    font-size: 48px;
    font-weight: 700;
    color: white;
    
}
.footer-section-wrap{
  padding-top: 200px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 200px;
}
.footer-contacts{
    background-color: black;
    height: 455px;
}
.bookTourSection .tour-wrap {
  z-index: 10000;
  width: 540px;
  height: 100px;
  opacity: 1;
  background-color: rgba(217, 217, 217, 0.5);
  margin: 20px;
  color: black;
  z-index: 0;
}
.tour-wrap img{
  height: 50px;
  width: 50px;
  opacity: 1;
  margin-right: 10px;
}
.tour-wrap span{
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.tour-wrap{
  border: 2px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.img-text-wrap{
  margin-left: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.contact-wrap{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 60px;
}

.email-wrap{
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.email-wrap h3{
  font-size: 36px;
}
.icons-wrap img{
  width: 30px;
  height: 30px;
  margin: 40px;
}